<ion-card class="container">
  <ion-grid class="grid">
    <ion-row
      *ngFor="let row of cells; index as x"
      style="position:relative"
      [style.top.px]="-50 * x"
      [style.left.px]="x % 2 == 0 ? 0 : 45"
    >
      <ion-col
        *ngFor="let col of row; index as y"
        [@initAnimation]="stateControler.state.value !== 'settings' ? 'enter' : 'leave'"
      >
        <app-hex
          class="hex"
          [isLoaded]="stateControler.state.value !== 'settings'"
          [cell]="cells[x][y]"
          (cellClicked)="onCellClick($event)"
        ></app-hex>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-penguin
    *ngFor="let penguin of penguins"
    [penguin]="penguin"
    [isLoaded]="stateControler.state.value !== 'settings' && stateControler.state.value !== 'initPosPenguin'"
    (penguinClicked)="onPenguinClick($event)"
  ></app-penguin>
</ion-card>
