<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start"><span translate>About</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        License
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This work is copyrighted under the name of its authors name in the Team page and under the conditions of the protection of a Github repository.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Credits
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Hexagon tiles by Kenney Vleugels (www.kenney.nl)
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text text-center>
        License (CC0)
        <br>
        http://creativecommons.org/publicdomain/zero/1.0/
        <br>
        <br>
        You may use these graphics in personal and commercial projects.
        Credit (Kenney or www.kenney.nl) would be nice but is not mandatory.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>