<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Credits
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text text-center>
            Hexagon tiles by Kenney Vleugels (www.kenney.nl) 
            <br>
            License (CC0)
            <br>
            http://creativecommons.org/publicdomain/zero/1.0/
            <br>
            <br>            
            You may use these graphics in personal and commercial projects.
            Credit (Kenney or www.kenney.nl) would be nice but is not mandatory.
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
