<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>About</span></ion-title>
    <ion-chip slot="end">
      <ion-avatar>
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+" />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<!-- ABOUT CONTENT -->
<ion-content fullscreen scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./slide-1.png" />
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration
          of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png" />
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web
        technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png" />
      <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
        totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png" />
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>