<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><span translate>Game</span></ion-title>
        <ion-chip slot="end">
            <ion-avatar>
                <img
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+" />
            </ion-avatar>
            <ion-label>Avatar Chip</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-fab horizontal="end" vertical="top" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon src="/assets/icon/options-outline.svg" click=""></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="light">
                <ion-icon src="/assets/icon/settings-outline.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon src="/assets/icon/reload-outline.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon src="/assets/icon/information-outline.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon src="/assets/icon/log-out-outline.svg"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid class="ion-no-padding">
        <ion-row justify-content-center style="height: 100%">
            <ion-col style="height: 100%"  size="auto">
                <ion-card text-center translucent fixed size="auto">
                    <ion-card-header></ion-card-header>
                    <ion-card-content>
                        <app-board></app-board>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col style="height: 100%">
                <app-console></app-console>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-control class="control" (nbHexagonalChanged)="nbHexagonalChanged($event)" (nbPenguinChanged)="nbPenguinChanged($event)"></app-control>
</ion-content>