<ion-card class="control">
  <ion-card-header>
    <ion-title>
      <ion-label>
        <ion-icon name="construct" slot="start"></ion-icon>
        Settings
      </ion-label>
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Education</h2>
        </ion-label>
        <ion-toggle slot="end" color="primary"></ion-toggle>
      </ion-item>

      <ion-item lines="full">
        <!-- Icon top -->
        <ion-segment value="normal">
          <ion-segment-button value="normal">
            <ion-label>Normal</ion-label>
            <ion-icon name="heart"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="hard">
            <ion-label>Hard</ion-label>
            <ion-icon src="assets/icon/skull.svg"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-label>Hex : </ion-label>
        <ion-range *ngIf="stateControler.state.value === 'settings'" min="5" max="8" step="1" snaps color="primary"
          [(ngModel)]="rangeHexagonal">
          <ion-label slot="start">5</ion-label>
          <ion-label slot="end">8</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Peng : </ion-label>
        <!-- [(ngModel)]="valueRangePenguin" //  value={{valueRangePenguin}} (ionChange)="newNumberPenguin($event)"-->
        <ion-range *ngIf="stateControler.state.value === 'settings'" min="1" max="4" step="1" snaps color="primary"
          [(ngModel)]="rangePenguin">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">4</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>

    <ion-button slot="end" color="danger">Cancel</ion-button>

    <ion-button class="animated infinite rubberBand slower" slot="end" (click)="presentConfirm()" translate>Next
    </ion-button>
  </ion-card-content>
</ion-card>