.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container::after {
content: "";
clear: both;
display: table;
}

.container .item {
  align-self: flex-start
}

.container .item.right {
  align-self: flex-end;
  text-align: right;
}