  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
  }

  p {
    color: black;
    text-align: center;
  }
  
  .container {
    display: flex;
    background: whitesmoke;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    margin: auto;

  }
  
  .board {
    position: relative;
    top: 0;
    left: 0;
    margin:4px;
    border-radius: 4px;
    border: inset 10px black;
    box-shadow: 5px 5px 5px grey;
    height: 500px;
    width: 600px;
    z-index: 3;
    
    
    /* background: #061639; */
    /* background-image:  linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 150, 0.5)),
                  url("./images/water.png"); */
  }
  
  .board .stage {
    position: relative;
    top: 0;
    left: 0;
    padding: 2.5rem;
    z-index: 2;
  }

  .board .water {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /* background-image:  linear-gradient(rgba(31, 31, 143, 0.5), rgba(116, 116, 240, 0.5)),
                  url("./images/water.png"); */
    background-image:  url("./images/water.png");
    /* background-size: cover; */
    filter: url("#turbulence");
  }
  

  button {
    width: 45%;
    height: 40px;
    background-color: orangered;
    color: white;
    border: 0px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #aaa;
    transition-duration: 0.2s;
  
}

  button:hover {
    background-color: orange;
  }

  button:active {
    background-color: yellow;
  }
  
  #turn {
    color: grey;
    padding: 5px 5px 5px;
    text-align: center;
    font-size: 30px;
    border-bottom: 5px ridge #EBEBEB;
  }
  
  #player {
    padding: 1rem;
  }
  
  body {
    display: flex;    
    /* height: 60%;
    width: 100%; */
    /* overflow: hidden; */
    background-color: #222;
    
  }

  .hidden{
    padding: 1em;
  }

  .down {
    text-align: center;
    font-size: 18px;
}

#output {
  color: white;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 40%;
  height: 100vh;
  border: none;
}
