<ion-split-pane when="(min-width: 2000px)">
  <ion-menu type="overlay" drag-content="true" class="app-menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons *ngIf="isWeb" slot="end">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="profile-button" (click)="changeLanguage()">
              <ion-icon name="globe"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>{{ 'APP_NAME' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div ion-fixed>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/home" routerLinkActive="active">
              <ion-label>
                <span translate>
                  Home
                </span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/game" routerLinkActive="active">
              <ion-label>
                <span translate>
                  Game
                </span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/team" routerLinkActive="active">
              <ion-label>
                <span translate>
                  Team
                </span>
              </ion-label>
              <ion-badge color="primary" slot="end">5</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/about" routerLinkActive="active">
              <ion-label>
                <span translate>
                  About
                </span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-icon slot="start" name="moon"></ion-icon>
              <ion-label>
                <span translate>
                  Toggle Dark Theme
                </span>
              </ion-label>
              <ion-toggle [checked]="isToggled" slot="end" (ionChange)="toggleTheme()"></ion-toggle>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer>
      <ion-datetime
        display-format="MMM DD, YYYY HH:mm"
        value="{{ maDate }}"
        display-timezone="utc"
        disabled
      ></ion-datetime>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
